#container-visualizar-movimentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  