* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  /* background-image: linear-gradient(to bottom, black, rgb(42, 0, 42)) !important; */
  min-height: 100vh !important;
  min-width: 100vw !important;
  width: auto !important;
  height: auto !important;
}